@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
  --md-text-font: "Architects Daughter", sans-serif;
  --md-heading-font: "Architects Daughter", sans-serif;
}